
/* Style the links inside the pill navigation menu */
.pill-nav a {
  display: inline-block;
  color: #ffff00;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #000000;
  color: #ffe135;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: #0008a6;
  color: #ffff00;
}
