<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API WARS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <div class="pill-nav">
      <a class="active" href="#planet-list">Planet list</a>
      <a href="#login">Login</a>
      <a href="#logout">Logout</a>
<!--      <a href="#vote">Vote</a>-->
    </div>

    <h1>API WARS</h1>
    <p>ddddddddd
    ddddddddddddddd<br><br><br><br><br><br><br><br><br>fffffffffffffffffffffffffff
        ffffff<br><br><br><br><br><br><br><br><br>ffffffffffffffffffffffffffffffffffffff<br><br><br><br><br><br>

    ddddddddddddddddd<br><br><br><br><br><br><br><br><br><br><br><br><br>ddddddddddddddddddddddddddd</p>
    {% extends "footer.html" %}
</body>