{% extends "layout.html" %}

{% block content %}

<p>{{ login_message }}</p>


    <p> {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <p>ddddddddd
    ddddddddddddddd<br><br><br><br><br><br><br><br><br>fffffffffffffffffffffffffff
        ffffff<br><br><br><br><br><br><br><br><br>ffffffffffffffffffffffffffffffffffffff<br><br><br><br><br><br>

    ddddddddddddddddd<br><br><br><br><br><br><br><br><br><br><br><br><br>ddddddddddddddddddddddddddd</p>
{% endblock %}