<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API WARS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>

</head>
<body>
    <div class="pill-nav">
      <a class="active" href="{{ url_for('planet_list') }}">Planet list</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('register') }}">Register</a>
<!--      <a href="#vote">Vote</a>-->
    </div>

    <h1>API WARS</h1>
    <div class="content-wrapper">
        {% block content %} {% endblock %}
    </div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Height</th>
                        <th scope="col">Mass</th>
                        <th scope="col">Skin color</th>
                        <th scope="col">Hair color</th>
                        <th scope="col">Eye color</th>
                        <th scope="col">Birth year</th>
                        <th scope="col">Gender</th>
                    </tr>
                    </thead>
                    <tbody id="modal-body">

                    </tbody>
                </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</body>